<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <!-- Primary Meta Tags -->
    <title>Proost! (@ViewData["Title"])</title>
    <meta name="title" content="Proost! (@ViewData["Title"])">
    <meta name="description" content="Een open-source party drinking game. Drink met mate(n)!">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Proost! (@ViewData["Title"])">
    <meta property="og:description" content="Een open-source party drinking game. Drink met mate(n)!">
    <meta property="og:image" content="/img/embed-banner.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Proost! (@ViewData["Title"])">
    <meta property="twitter:description" content="Een open-source party drinking game. Drink met mate(n)!">
    <meta property="twitter:image" content="https://i.imgur.com/H38lH9W.png"><!--// Twitter requires a full image URL. Because I want this easy to set up, we provide one imgur link-->

    <meta name="keywords" content="proost, drankspel, spel, game, drinking game, drink, drinkspel, piccolo, piccolo clone, drink spel, drank spel">

    <meta name="theme-color" id="headercolor" content="#fbcf4c" />
</head>
<body>
    <div id="particles"></div>
    <div id="container">
        <div id="contentbox">
            <img src="~/img/beerx100.png" alt="proost!" class="icon" width="50" height="50" />
            @RenderBody()
        </div>
    </div>
    @RenderSection("scripts", required: false)
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Roboto&family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8473bf5133.js" crossorigin="anonymous"></script>
</body>
</html>
